img {
    max-height: 1.25em;
    max-width: 1.25em;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.big-pic {
    max-height: 20em;
    max-width: 40em;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.one-third {
    max-width: 10%;
}